<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.w3.org/1999/xhtml">
    <title>Notebook's menu</title>
</head>
<body>
<p><strong>HI! This is menu your notebook) </strong></p>
<hr>
<br>
<p><strong>Work with notes</strong></p>
<br>
<a href="/show/all">Show all notes</a>
<br>
<a href="/search/date">Date search on notes</a>
<br>
<a href="/search/toTopic">Topic search on notes</a>
<br>
<a href="/note/new" style="color:green">Create new note</a>
<br>
<br>
<p><strong>Work with topics</strong></p>
<a href="/note/newTopic" style="color:green">Create new topic</a>
<br>
<a href="/note/deleteTopic" style="color:red">Delete topic</a>
</body>
</html>