<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New note</title>
</head>
<body>
<p><strong>Here you can write a new note:)</strong></p>
<hr>

<form method="POST" action="#" th:action="@{/note/newNote}" th:object="${NewNote}">

    <p th:text="${Today}"></p>

<!--        чекбоксы для выбора тем заметок-->
        <table>
    <tr th:each="topic:${NewNote.topics}">
        <!--   для работы converter необходимо наличее  th:field="*{topics}" в теге  input type="checkbox"  -->
        <td><input type="checkbox" th:field="*{topics}" th:value="${topic.id}" />
        <label th:text="${topic}"> </label>
        </td>
    </tr>
</table>

<!--    ссылка на создание новой темы(topic)-->
    <br>
    <a href="/note/newTopic" style="color:green">Create new topic</a>

<!--    ссылка на удаление существующей темы(topic)-->
    <br>
    <a href="/note/deleteTopic" style="color:red">Delete topic</a>

<!--        создание поля для ввода текста заметки-->
    <br>
    <p>Text new note<br>
    <textarea type="text" th:field="*{myText}" cols = "40" rows="3"></textarea> </p>



    <input type="submit" value="ADD NOTE"/>
    <input type="reset" value="Clean">
</form>
<hr>
<br>
<a href="/"><strong>Notebook's menu</strong></a>
</body>
</html>