<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>This note</title>
</head>
<body>
<table>
    <tr>
        <td>Field</td>
        <td>Value</td>
    </tr>
    <tr>
        <td>id</td>
        <td th:text="${thisNote.id}"></td>
    </tr>
    <tr>
        <td>Date</td>
        <td th:text="${thisNote.changeThisDateInString}"></td>
    </tr>
    <tr>
        <td>Topics</td>
        <td>
            <table>
                <tr th:each="topic:${thisNote.topics}">
                    <td th:text="${topic}"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>Text</td>
        <td th:text="${thisNote.myText}"></td>
    </tr>
</table>
<hr>
<br>
<a href="/"><strong>Notebook's menu</strong></a>
</body>
</html>